/*!********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./css/main.scss ***!
  \********************************************************************************************************/
.umbraco-commerce-product-feeds .umb-property.required label > span::after {
  content: "*";
  color: red;
}
.umbraco-commerce-product-feeds .prop-mapping-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.5em;
  box-sizing: border-box;
  padding: 0.5rem;
}
.umbraco-commerce-product-feeds .prop-mapping-row .prop-mapping-col {
  flex: 1 1;
}
.umbraco-commerce-product-feeds .ucpf-button-group {
  margin-left: -5px;
  margin-top: 0.5em;
}
