.umbraco-commerce-product-feeds {
    $red: red;
    $bgDanger: rgb(255 0 0 / 20%);


    .show-validation {
        .error {
            background-color: $bgDanger;
        }
    }

    .umb-property {
        &.required {
            label>span::after {
                content: '*';
                color: $red;
            }
        }
    }

    .prop-mapping-row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 800px;
        gap: 0.5em;
        box-sizing: border-box;
        padding: 0;
        margin-bottom: 0.5em;

        .prop-mapping-col {
            flex: 1 1;
            display: flex;
        }
    }

    .ucpf-button-group {
        margin-left: -5px;
        margin-top: 0.5em;
    }
}