<div ng-controller="umbraco.commerce.productfeeds.settingEditController as vm"
    class="umbraco-commerce-product-feeds">

    <umb-load-indicator ng-if="vm.page.initializing"></umb-load-indicator>

    <form name="ucpfFeedSettingForm"
        ng-submit="vm.saveAsync()"
        novalidate
        val-form-manager>

        <umb-editor-view ng-if="!vm.page.initializing && vm.page.notfound">
            <umb-editor-container
                class="form-horizontal">
                <div class="uc-layout uc-layout--layout1">
                    <div class="uc-layout__left">
                        <umb-box>
                            <umb-box-content>
                                <div>
                                    <div>Feed setting not found.</div>
                                    <umb-button
                                        type="button"
                                        icon="fa fa-arrow-left"
                                        button-style="link"
                                        label="Back to list"
                                        action="vm.back()">
                                    </umb-button>
                                </div>
                            </umb-box-content>
                        </umb-box>
                    </div>
                </div>
            </umb-editor-container>
        </umb-editor-view>

        <umb-editor-view ng-if="!vm.page.initializing && !vm.page.notfound">
            <umb-editor-header
                name="vm.content.name"
                hide-icon="true"
                hide-description="true"
                hide-alias="true"
                show-back-button="true"
                on-back="vm.back()"
                menu="vm.page.menu">
            </umb-editor-header>

            <umb-editor-container class="form-horizontal">
                <div class="uc-layout uc-layout--layout1">

                    <div class="uc-layout__left">

                        <umb-box>
                            <umb-box-header title="Settings"></umb-box-header>

                            <umb-box-content>
                                <umb-control-group
                                    label="Feed Relative Path"
                                    class="required"
                                    description="Enter a url-friendly string. Value must be unique among the feeds.">
                                    <input
                                        placeholder="Enter a url-friendly string"
                                        type="text"
                                        class="umb-property-editor umb-textstring textstring"
                                        ng-model="vm.content.feedRelativePath"
                                        required />
                                    <div class="ucpf-button-group">
                                        <umb-button
                                            ng-if="!!vm.content.feedRelativePath && !vm.isCreateMode"
                                            type="button"
                                            icon="icon-out"
                                            button-style="link"
                                            label="Open feed"
                                            action="vm.onOpenFeedClick()">
                                        </umb-button>
                                    </div>
                                </umb-control-group>

                                <umb-control-group
                                    label="Feed Description">
                                    <input type="text"
                                        class="umb-property-editor umb-textstring textstring"
                                        ng-model="vm.content.feedDescription" />
                                </umb-control-group>

                                <umb-control-group label="Feed Type" class="required"
                                    description="">
                                    <select
                                        class="umb-property-editor umb-dropdown"
                                        ng-model="vm.content.feedType"
                                        ng-options="item for item in vm.options.feedTypes"
                                        required>
                                        <option value="" selected disabled>-- Select a feed type --</option>
                                    </select>
                                </umb-control-group>

                                <umb-control-group
                                    label="Product Document Type Alias"
                                    class="required"
                                    description="The published content of this document type will be included in the feed">
                                    <select
                                        class="umb-property-editor umb-dropdown"
                                        ng-change="vm.onProductDocumentTypeAliasChange()"
                                        ng-model="vm.content.productDocumentTypeAliasVm"
                                        ng-options="item for item in vm.options.documentTypeAliases"
                                        multiple="true"
                                        required
                                        style="min-height: 20em;">
                                    </select>
                                </umb-control-group>

                                <umb-control-group
                                    label="Product Child Variant Type Key"
                                    description="Use this when you use child variants implementation"
                                    class="">
                                    <input type="text"
                                        class="umb-property-editor umb-textstring textstring"
                                        ng-model="vm.content.productChildVariantTypeKey"
                                        disabled />
                                    <div class="ucpf-button-group">
                                        <umb-button
                                            action="vm.onOpenContentTypePicker('productChildVariantTypeKey')"
                                            icon="icon-search"
                                            type="button"
                                            button-style="action"
                                            label="Select child variant type"></umb-button>

                                        <umb-button
                                            ng-if="!!vm.content.productChildVariantTypeKey"
                                            action="vm.onClearFieldClick('productChildVariantTypeKey')"
                                            icon="icon-delete"
                                            type="button"
                                            button-style="default"
                                            label="Clear"></umb-button>
                                    </div>
                                </umb-control-group>

                                <umb-control-group
                                    label="Product Root Key"
                                    description="Select the root for products. Only products under this root will be included in the feed."
                                    class="required">
                                    <input type="text"
                                        class="umb-property-editor umb-textstring textstring"
                                        ng-model="vm.content.productRootKey"
                                        required
                                        disabled />
                                    <div class="ucpf-button-group">
                                        <umb-button
                                            action="vm.onOpenContentPicker('productRootKey')"
                                            icon="icon-search"
                                            type="button"
                                            button-style="action"
                                            label="Select product root"></umb-button>
                                        <umb-button
                                            ng-if="!!vm.content.productRootKey"
                                            action="vm.onClearFieldClick('productRootKey')"
                                            icon="icon-delete"
                                            type="button"
                                            button-style="default"
                                            label="Clear"></umb-button>
                                    </div>

                                </umb-control-group>

                                <umb-control-group
                                    label="Property And Node Mapping"
                                    description="Map between property alias and the node under <item>"
                                    class="required">
                                    <div class="prop-mapping-row">
                                        <div class="prop-mapping-col text-right" style="margin-bottom: .5em;">
                                            <umb-button
                                                type="button"
                                                icon="icon-add"
                                                button-style="primary"
                                                label="Add Mapping"
                                                action="vm.onAddPropertyMappingRowClick()">
                                            </umb-button>
                                        </div>
                                    </div>

                                    <div
                                        class="prop-mapping-row"
                                        ng-repeat="item in vm.propertyAndNodeMappingVm track by item.uiId"
                                        ng-model="item.valueExtractorName">
                                        <div class="prop-mapping-col">
                                            <input
                                                class="umb-property-editor umb-textstring prop-mapping-control"
                                                type="text"
                                                placeholder="Feed Node Name"
                                                ng-model="item.nodeName"
                                                required />
                                        </div>

                                        <div class="prop-mapping-col">
                                            <input
                                                class="umb-property-editor umb-textstring prop-mapping-control"
                                                type="text"
                                                placeholder="Property Alias"
                                                ng-model="item.propertyAlias"
                                                required />
                                        </div>

                                        <div class="prop-mapping-col">
                                            <select
                                                class="umb-property-editor prop-mapping-control"
                                                placeholder="Property Value Extractor"
                                                ng-model="item.valueExtractorName"
                                                title="{{item.valueExtractorName}}"
                                                ng-options="option.value as option.label disable when option.disabled for option in vm.options.propertyValueExtractors"
                                                required>
                                            </select>
                                        </div>
                                        <div class="prop-mapping-col text-right"
                                            style="flex:0 0 100px;">
                                            <umb-button
                                                type="button"
                                                icon="icon-trash"
                                                button-style="default"
                                                label="Delete"
                                                action="vm.onDeletePropertyMappingRowClick(item.uiId)">
                                            </umb-button>
                                        </div>
                                    </div>
                                </umb-control-group>
                            </umb-box-content>
                        </umb-box>
                    </div>

                    <div class="uc-layout__right">
                        <umb-box>
                            <umb-box-header title-key="general_info"></umb-box-header>
                            <umb-box-content class="block-form">
                                <umb-control-group label="Id">
                                    <uc-id-label ng-if="!!vm.content.id" value="vm.content.id"></uc-id-label>
                                    <div ng-if="!vm.content.id"><umb-badge size="xs">Unsaved</umb-badge></div>
                                </umb-control-group>
                                <umb-control-group label="Store Id">
                                    <uc-id-label value="vm.content.storeId"></uc-id-label>
                                </umb-control-group>
                            </umb-box-content>
                        </umb-box>
                    </div>
                </div>
            </umb-editor-container>

            <umb-editor-footer>

                <umb-editor-footer-content-left>
                    <umb-breadcrumbs
                        ng-if="vm.page.breadcrumb && vm.page.breadcrumb.items && vm.page.breadcrumb.items.length > 0"
                        ancestors="vm.page.breadcrumb.items"
                        on-open="vm.page.breadcrumb.itemClick(ancestor)">
                    </umb-breadcrumbs>
                </umb-editor-footer-content-left>

                <umb-editor-footer-content-right>

                    <umb-button
                        ng-if="!!vm.content.feedRelativePath && !vm.isCreateMode"
                        type="button"
                        icon="icon-out"
                        button-style="default"
                        label="Open feed"
                        action="vm.onOpenFeedClick()">
                    </umb-button>

                    <umb-button
                        type="submit"
                        button-style="success"
                        state="vm.page.saveButtonState"
                        shortcut="ctrl+s"
                        label="Save"
                        label-key="buttons_save">
                    </umb-button>

                </umb-editor-footer-content-right>

            </umb-editor-footer>
        </umb-editor-view>
    </form>

</div>