<div ng-controller="umbraco.commerce.productfeeds.settingEditController as vm"
    class="umbraco-commerce-product-feeds">

    <umb-load-indicator ng-if="vm.page.initializing"></umb-load-indicator>

    <form name="ucpfFeedSettingForm"
        ng-submit="vm.saveAsync()"
        novalidate
        val-form-manager>

        <umb-editor-view ng-if="!vm.page.initializing && vm.page.notfound">
            <umb-editor-container
                class="form-horizontal">
                <div class="uc-layout uc-layout--layout1">
                    <div class="uc-layout__left">
                        <umb-box>
                            <umb-box-content>
                                <div>
                                    <div>Feed setting not found.</div>
                                    <umb-button
                                        type="button"
                                        icon="fa fa-arrow-left"
                                        button-style="link"
                                        label="Back to list"
                                        action="vm.back()">
                                    </umb-button>
                                </div>
                            </umb-box-content>
                        </umb-box>
                    </div>
                </div>
            </umb-editor-container>
        </umb-editor-view>

        <umb-editor-view ng-if="!vm.page.initializing && !vm.page.notfound">
            <umb-editor-header
                name="vm.content.name"
                hide-icon="true"
                hide-description="true"
                hide-alias="true"
                show-back-button="true"
                on-back="vm.back()"
                menu="vm.page.menu">
            </umb-editor-header>

            <umb-editor-container class="form-horizontal">
                <div class="uc-layout uc-layout--layout1">

                    <div class="uc-layout__left">

                        <umb-box>
                            <umb-box-header title="Settings"></umb-box-header>

                            <umb-box-content>
                                <umb-control-group
                                    label="Feed URL Segment"
                                    class="required"
                                    description="Enter a url-friendly string. Value must be unique among the feeds.">
                                    <input
                                        placeholder="Enter a url-friendly string"
                                        type="text"
                                        class="umb-property-editor umb-textstring textstring"
                                        ng-model="vm.content.feedRelativePath"
                                        required />
                                    <div class="ucpf-button-group">
                                        <umb-button
                                            ng-if="!!vm.content.feedRelativePath && !vm.isCreateMode"
                                            type="button"
                                            icon="icon-out"
                                            button-style="link"
                                            label="Open feed"
                                            action="vm.onOpenFeedClick()">
                                        </umb-button>
                                    </div>
                                </umb-control-group>

                                <umb-control-group
                                    label="Feed Description"
                                    description="A brief description about this feed. It can be used in <description>.">
                                    <input type="text"
                                        class="umb-property-editor umb-textstring textstring"
                                        ng-model="vm.content.feedDescription" />
                                </umb-control-group>

                                <umb-control-group
                                    label="Feed Type"
                                    class="required"
                                    description="Choose the type that suits the consumer of this feed. Each type has a different template.">
                                    <select
                                        class="umb-property-editor umb-dropdown"
                                        ng-model="vm.content.feedType"
                                        ng-options="item.value as item.label for item in vm.options.feedTypes"
                                        required>
                                        <option value="" selected disabled>-- Select a feed type --</option>
                                    </select>
                                </umb-control-group>

                                <umb-control-group
                                    label="Product Document Type"
                                    class="required"
                                    description="The published content of this document type will be included in the feed">
                                    <div>
                                        <!-- this is a cheap way to do validation -->
                                        <input
                                            class="hide"
                                            ng-model="vm.content.productDocumentTypeAliases"
                                            required />

                                        <umb-node-preview
                                            ng-repeat="docType in vm.preview.productDocumentTypeAliases"
                                            icon="docType.icon"
                                            name="docType.name"
                                            published="true"
                                            description="docType.alias"
                                            sortable="false"
                                            allow-remove="true"
                                            allow-open="false"
                                            on-remove="vm.onRemoveProductDocumentType(docType.id)">
                                        </umb-node-preview>

                                        <button
                                            type="button"
                                            class="umb-node-preview-add"
                                            ng-click="vm.onAddProductDocumentTypeClick()"
                                            aria-label="Add item">
                                            <localize key="general_add">Add</localize>
                                            <span class="sr-only">...</span>
                                        </button>
                                    </div>
                                </umb-control-group>

                                <umb-control-group
                                    label="Product Child Variant Type"
                                    description="Use this when you use child variants implementation"
                                    class="">
                                    <div>
                                        <umb-node-preview
                                            ng-if="!!vm.preview.productChildVariantTypeAlias"
                                            icon="vm.preview.productChildVariantTypeAlias.icon"
                                            name="vm.preview.productChildVariantTypeAlias.name"
                                            published="vm.preview.productChildVariantTypeAlias.metaData.IsPublished"
                                            description="vm.preview.productChildVariantTypeAlias.alias"
                                            sortable="false"
                                            allow-remove="true"
                                            allow-open="false"
                                            on-remove="vm.onClearFieldClick('productChildVariantTypeAlias')">
                                        </umb-node-preview>

                                        <button
                                            type="button"
                                            ng-show="!vm.content.productChildVariantTypeAlias"
                                            class="umb-node-preview-add"
                                            ng-click="vm.onOpenContentTypePicker('productChildVariantTypeAlias')"
                                            aria-label="Add item">
                                            <localize key="general_add">Add</localize>
                                            <span class="sr-only">...</span>
                                        </button>
                                    </div>
                                </umb-control-group>

                                <umb-control-group
                                    label="Product Root"
                                    description="Select the root for products. Only products under this root will be included in the feed."
                                    class="required">

                                    <div class="umb-contentpicker">
                                        <p ng-if="vm.preview.productRootKey.trashed">
                                            <localize key="contentPicker_pickedTrashedItem"></localize>
                                        </p>

                                        <div>
                                            <!-- this is a cheap way to do validation -->
                                            <input
                                                class="hide"
                                                ng-model="vm.content.productRootKey"
                                                required />

                                            <umb-node-preview
                                                ng-if="!!vm.preview.productRootKey"
                                                icon="vm.preview.productRootKey.icon"
                                                name="vm.preview.productRootKey.name"
                                                published="vm.preview.productRootKey.metaData.IsPublished"
                                                description="vm.preview.productRootKey.key"
                                                sortable="false"
                                                allow-remove="true"
                                                allow-open="false"
                                                on-remove="vm.onClearFieldClick('productRootKey')">
                                            </umb-node-preview>

                                            <button
                                                type="button"
                                                ng-show="!vm.content.productRootKey"
                                                class="umb-node-preview-add"
                                                ng-click="vm.onOpenContentPicker('productRootKey')"
                                                aria-label="Add item">
                                                <localize key="general_add">Add</localize>
                                                <span class="sr-only">...</span>
                                            </button>
                                        </div>
                                    </div>

                                </umb-control-group>

                                <umb-control-group
                                    label="Include Tax In Price"
                                    description="For countries like US and Canada, you need to show price without tax, for most other countries, you should show price with tax.">
                                    <input
                                        type="checkbox"
                                        class="umb-property-editor umb-textstring textstring"
                                        ng-model="vm.content.includeTaxInPrice" />
                                </umb-control-group>

                                <umb-control-group
                                    label="Property And Node Mapping"
                                    description="Map between property alias and the node under <item>"
                                    class="required"
                                    label-for="">

                                    <div class="prop-mapping-row" style="font-weight: 600;">
                                        <div class="prop-mapping-col"
                                            style="max-width: 200px;">
                                            <div class="umb-property-editor">Node name in feed</div>
                                        </div>
                                        <div class="prop-mapping-col"
                                            style="max-width: 200px;">
                                            <div class="umb-property-editor">Property alias</div>
                                        </div>
                                        <div class="prop-mapping-col">
                                            <div class="umb-property-editor">Value extractor</div>
                                        </div>
                                    </div>

                                    <div
                                        class="prop-mapping-row"
                                        ng-repeat="item in vm.propertyAndNodeMappingVm track by item.uiId"
                                        ng-model="item.valueExtractorName">
                                        <div class="prop-mapping-col"
                                            style="max-width: 200px;">
                                            <input
                                                class="umb-property-editor umb-textstring prop-mapping-control"
                                                type="text"
                                                placeholder="Feed Node Name"
                                                ng-model="item.nodeName"
                                                required />
                                        </div>

                                        <div class="prop-mapping-col"
                                            style="max-width: 200px;">
                                            <input
                                                class="umb-property-editor umb-textstring prop-mapping-control"
                                                type="text"
                                                placeholder="Property Alias"
                                                ng-model="item.propertyAlias"
                                                required />
                                        </div>

                                        <div class="prop-mapping-col">
                                            <select
                                                class="umb-property-editor prop-mapping-control"
                                                placeholder="Property Value Extractor"
                                                ng-model="item.valueExtractorName"
                                                title="{{item.valueExtractorName}}"
                                                ng-options="option.value as option.label disable when option.disabled for option in vm.options.propertyValueExtractors"
                                                required>
                                            </select>
                                            <button
                                                type="button"
                                                ng-click="vm.onDeletePropertyMappingRowClick(item.uiId)"
                                                class="btn umb-button--xs dropdown-toggle umb-button-group__toggle"
                                                title="Remove mapping row"
                                                aria-hidden="true"
                                                style="font-size: 1.2em; margin-left: 0.5em;">
                                                <i class="icon icon-trash"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="prop-mapping-row">
                                        <div class="prop-mapping-col">
                                            <button type="button" class="umb-node-preview-add mt-10"
                                                ng-click="vm.onAddPropertyMappingRowClick()">
                                                <span>Add Value</span>
                                                <span class="sr-only">...</span>
                                            </button>
                                        </div>
                                    </div>
                                </umb-control-group>
                            </umb-box-content>
                        </umb-box>
                    </div>

                    <div class="uc-layout__right">
                        <umb-box>
                            <umb-box-header title-key="general_info"></umb-box-header>
                            <umb-box-content class="block-form">
                                <umb-control-group label="Id">
                                    <uc-id-label ng-if="!!vm.content.id" value="vm.content.id"></uc-id-label>
                                    <div ng-if="!vm.content.id"><umb-badge size="xs">Unsaved</umb-badge></div>
                                </umb-control-group>
                                <umb-control-group label="Store Id">
                                    <uc-id-label value="vm.content.storeId"></uc-id-label>
                                </umb-control-group>
                            </umb-box-content>
                        </umb-box>
                    </div>
                </div>
            </umb-editor-container>

            <umb-editor-footer>

                <umb-editor-footer-content-left>
                    <umb-breadcrumbs
                        ng-if="vm.page.breadcrumb && vm.page.breadcrumb.items && vm.page.breadcrumb.items.length > 0"
                        ancestors="vm.page.breadcrumb.items"
                        on-open="vm.page.breadcrumb.itemClick(ancestor)">
                    </umb-breadcrumbs>
                </umb-editor-footer-content-left>

                <umb-editor-footer-content-right>

                    <umb-button
                        ng-if="!!vm.content.feedRelativePath && !vm.isCreateMode"
                        type="button"
                        icon="icon-out"
                        button-style="default"
                        label="Open feed"
                        action="vm.onOpenFeedClick()">
                    </umb-button>

                    <umb-button
                        type="submit"
                        button-style="success"
                        state="vm.page.saveButtonState"
                        shortcut="ctrl+s"
                        label="Save"
                        label-key="buttons_save">
                    </umb-button>

                </umb-editor-footer-content-right>

            </umb-editor-footer>
        </umb-editor-view>
    </form>

</div>